document.getElementById("save-btn-<%= @gallery.id %>").outerHTML = `
  <a href="/galleries/<%= @gallery.id %>/bookmark"
     data-remote="true"
     data-method="delete"
     data-turbo="false"
     id="save-btn-<%= @gallery.id %>"
     class="btn p-0 border-0 bg-transparent fs-5 gallery-bookmark-btn">
    <i class="bi bi-bookmark-fill text-warning fs-5"></i>
  </a>
`;