document.getElementById("like-btn-<%= @gallery.id %>").outerHTML = `
  <a href="/galleries/<%= @gallery.id %>/like"
     data-remote="true"
     data-method="post"
     id="like-btn-<%= @gallery.id %>"
     class="btn p-0 border-0 bg-transparent fs-5 gallery-like-btn"
     data-turbo="false">
    <i class="bi bi-heart text-white fs-5"></i>
  </a>
`;
