@import "variables";
html {
  min-height: 100%
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;

  main {
    padding-top: 80px;
  }

  footer {
    margin-top: auto;
  }
}