%h1 Public Galleries

- @galleries.each do |gallery|
  %div
    - if gallery.private = false
      %h2= link_to gallery.title, gallery_path(gallery)
      %p= gallery.description
      %p.text-muted
        by #{gallery.user.username}