%div.text-center
  %h1 Public Galleries

  %p
    Browse all our public galleries below or 
    = link_to "create", galleries_path 
    your own

-# displays all public galleries + your own private ones
- if @galleries.present? 
  = render 'galleries/gallery_list'
- else
  %div.text-center
    %p No public galleries available
