%div.text-center
  %h1 Public Galleries

- if @galleries.present?
  .d-flex.flex-wrap.gap-3.justify-content-center
    - @galleries.each do |gallery|
      - first_photo = gallery.photos.first
      .gallery-tile
        - if first_photo
          = link_to gallery_path(gallery), class: "d-block" do 
            =image_tag first_photo.image.variant(resize_to_limit: [nil, 200]), class: "img-fluid gallery-image"
          %h5.mt-2= link_to gallery.title, gallery_path(gallery)
          %p.small.text-muted
            by #{gallery.user.username}
- else
  %p No galleries available.
