@import "../variables.scss";

.form-group-reset-password {
    position: relative;
    margin-bottom: 30px;
}

.bi-eye, .bi-eye-slash {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.bi-eye.active, .bi-eye-slash.active {
    opacity: 1;
}
