@import "../variables.scss";

.forgot-password {
    margin-bottom: 4rem;
}

.fs-login {
    font-size: 18px;
}

.form-field {
    border-width: 3px
}

.input-icon-prepend {
    position: absolute;
    z-index: 10;
    transform: translateY(35%);
    left: 15px;
    pointer-events: none;
}

.input-icon-append {
    position: absolute;
    z-index: 10;
    right: 35px;
    top: 28%;
    transform: translateY(-100%);
    cursor: pointer;
}

@media (max-width: 576px) {
    .no-border {
        border: none;
        box-shadow: none;
    }
}
  